* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

li {
  list-style: none;
}

.header {
  width: 100vw;
  border-bottom: red solid 3px;
}

.header h1 {
  font-size: 4rem;
  padding: 1.3rem 0;
}

.article-card {
  width: 450px;
  border: red solid 3px;
  border-radius: 5px;
  margin: 2rem auto;
  padding: 2rem;
}

.topic-image {
  height: 200px;
  width: 250px;
}
